/* section 2 about  */

.about{
    padding: 60px 0 ;
    background-color:rgba(255, 255, 255, 0);
}
.about-section
{
    /* background-color:#ffffff ; */
    width: 80%;
    margin: auto;
    /* margin: auto; */
    /* padding-right: 30px; */
    /* padding-left: 30px; */
padding-top: 30px;
padding-bottom: 20px;

}
.about-item{
    width: 40%;
    float: left;
    padding: 30px;

}
.about-item2{
    width: 50%;
    padding: 30px;
    float: left;

}
.about-item2 p{
    color: #555555;
    line-height: 25px;
    font-family:sans-serif;


}
.about-item2 h2{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    /* padding-top: 40px; */
    /* margin-bottom: 40px; */
    color: #333;
    font-family: 'Source Sans Pro', sans-serif; 

}
.parent{
    position: relative;
    
    overflow: hidden;
}

.about-layer{
    border-radius: 4px;
width: 100%;
height: 100%;
position: absolute;
top: 100%;
left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: top 1s;
}
.parent:hover .about-layer{
    top: 0;
}
.about-item img{
    width: 100%;
}
.ul-1  {
    /* background-color: aqua; */
    width: 50%;
    float: left;
    
    /* float: left; */
    padding: 20px;


}
.ul-1 ul li {
    list-style: none;
    padding: 5px;
    font-weight: li;
    color: #555555;
    font-family: sans-serif;

}
.ul-1 ul li span{
    font-family: sans-serif;

    color:#333333;
    font-weight: 500;
    font-size: 18px;
}
.btn{
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    padding: 10px 20px;
    opacity: 1;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
}
/* end section 2 about  */